html{
  font-size: 16px;
  font-family: helvetica;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;

}
.mobile{
  display: none;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 1.5rem;
}
body{
  background-color:#bebebe;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 20;


}
header .logo{
  padding-left: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header nav{
  padding-right: 1.5rem;
}
header nav a{
  font-size: 1.5rem;
  padding-left: 1rem;
}

@media only screen and (max-width:480px){
  .mobile{
    display:flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width:90vw;
  }
  .desktop{
    display: none;

  }
}

.main{
  position: absolute;
  top:4rem;
}

#banner{
  position: relative;
  background-color: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}



#bannercopy{
  /*border: 1px solid white;*/
  padding-left: 2.5rem;
  width: 30%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#banner button{
  border-style: none;
  color: white;
  font-size: 1.5rem;
  background-color: #333;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

#banner img{
  width: 60vw;
  height: 40vw;

}

#stories{
  position: relative;
  display: flex;
  justify-content: space-start;

}

@media only screen and (max-width:480px){
  #banner{
    flex-direction: column;
    width: 100vw;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
  }
  #banner img{
    width: 100vw;
    height: 45vw;
    overflow: hidden;
  }
  #banner h1,h2,button{
    width: 90vw;

  }
  #bannercopy{
    /*border: 1px solid white;*/
    padding: 1rem 1.5rem;
  }
}
.featured_story{
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: calc(100vw - 30.5rem);
}

.featured_story h1{
  padding: 2rem 0;

}
.featured_story p{
  padding-top:1rem;

}

.featured_story img{
  width: calc(100vw - 30.5rem);
  height: auto;
}
@media only screen and (max-width:480px){
  .featured_story{
    display: none;
  }
}


#story_list{
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  border-left: grey 1px solid;
  width:423px;
}

.story{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition:background-color 400ms linear;


}
.image_mobile{
  display: none;
}
.story img{
  width: 35%;
  padding: 1rem 1rem;

}
.story h3{
  padding-top: 1rem;

}
.story a{
  display: block;
  color:blue;
  padding-top: 1rem;


}

.story:hover{
  background-color: grey;

}

@media only screen and (max-width:480px){
  .image_full{
    display: none;
  }
  .image_mobile{
    display: flex;
  }
  #story_list{
    padding-top: 0;
    border-left: none;
    width:95vw;
    justify-content: center;
  }

  .story{
    flex-direction: column;
  }
  .story .description{
    padding: 2rem 0;
  }
  .story img{
    width: 95vw;
    padding:1.5rem;
  }
}

#courses{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  background-color: #b1b1b1;
}

#courses h1{
  padding-bottom: 2rem;
}

#courses .description{
    background-color: white;
    padding: 1rem;
    margin-top: -5px;
    transition: background-color 400ms ease-in;

}
#courses .description:hover{
  background-color: black;
}
.description h3,p{
    padding-top: 1rem;
    line-height: 1.5rem;
}
.description img{
  width: 15vw;
}

.row{
  display: flex;
}
.single_course{

  padding: 1rem;
  height: auto;
  width: 20vw;

}


.single_course img{
  overflow: hidden;
  width: 20vw;
}

#exhibit{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}
#exhibit h1{
  padding-bottom: 2rem;
}

.featured_story video{
  width: calc(100vw - 30.5rem);
  height: auto;
}

#exhibit #story_list{
  border-left: none;
}

footer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid grey;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
